<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Unity.Configuration, Version=5.2.5.0, Culture=neutral, PublicKeyToken=6d32ff45e0ccc69f"/>
  </configSections>
  <unity>
    <containers>
      <container name="containerTwo">
        <register type="IFBLL.IFBLLUser,IFBLL" mapTo="BLL.BLLUser,BLL" name="BLLUser"></register>
        <register type="IFBLL.IFBLLConfig_file_first_kind,IFBLL" mapTo="BLL.BLLConfig_file_first_kind,BLL" name="BLLconfig_file_first_kind"></register>
        <register type="IFBLL.IFBLLConfig_file_second_kind,IFBLL" mapTo="BLL.BLLConfig_file_second_kind,BLL" name="BLLconfig_file_second_kind"></register>
        <register type="IFBLL.IFBLLConfig_file_third_kind,IFBLL" mapTo="BLL.BLLConfig_file_third_kind,BLL" name="BLLconfig_file_third_kind"></register>
        <register type="IFBLL.IFBLLClient,IFBLL" mapTo="BLL.BLLClient,BLL" name="BLLClient"></register>
        <register type="IFBLL.IFBLLPosition_Name_Set,IFBLL" mapTo="BLL.BLLPosition_Name_Set,BLL" name="BLLPosition_Name_Set"></register>
      <register type="IFBLL.IFBLLconfig_major_kind,IFBLL" mapTo="BLL.BLLconfig_major_kind,BLL" name="BLLconfig_major_kind"></register>
      <register type="IFBLL.IFBLLconfig_major,IFBLL" mapTo="BLL.BLLconfig_major,BLL" name="BLLconfig_major"></register>
      <register type="IFBLL.IFBLLengage_major_release,IFBLL" mapTo="BLL.BLLengage_major_release,BLL" name="BLLengage_major_release"></register>
       <register type="IFBLL.IFBLLint_engage_resume,IFBLL" mapTo="BLL.BLLint_engage_resume,BLL" name="BLLint_engage_resume"></register>
        <register type="IFBLL.IFBLLhuman_file_dig,IFBLL" mapTo="BLL.BLLhuman_file_dig,BLL" name="BLLhuman_file_dig"></register>
      </container>
    </containers>
  </unity>
</configuration>