<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Unity.Configuration, Version=5.2.5.0, Culture=neutral, PublicKeyToken=6d32ff45e0ccc69f"/>
  </configSections>
  <unity>
    <containers>
      <container name="containerTwo">
        <register type="IFBLL.IFBLLUser,IFBLL" mapTo="BLL.BLLUser,BLL" name="BLLUser"></register>
        <register type="IFBLL.IFBLLClient,IFBLL" mapTo="BLL.BLLClient,BLL" name="BLLClient"></register>
      </container>
    </containers>
  </unity>
</configuration>