<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Unity.Configuration, Version=5.2.5.0, Culture=neutral, PublicKeyToken=6d32ff45e0ccc69f"/>
  </configSections>
  <unity>
    <containers>
      <container name="containerTwo">
        <register type="IFBLL.IFBLLUser,IFBLL" mapTo="BLL.BLLUser,BLL" name="BLLUser"></register>
        <register type="IFBLL.IFBLLPosition_Name_Set,IFBLL" mapTo="BLL.BLLPosition_Name_Set,BLL" name="BLLPosition_Name_Set"></register>
      <register type="IFBLL.IFBLLconfig_major_kind,IFBLL" mapTo="BLL.BLLconfig_major_kind,BLL" name="BLLconfig_major_kind"></register>
      <register type="IFBLL.IFBLLconfig_major,IFBLL" mapTo="BLL.BLLconfig_major,BLL" name="BLLconfig_major"></register>
      </container>
    </containers>
  </unity>
</configuration>